/* =========================
   FOOTER
========================= */

.site-footer{
    width:100%;
    background:#fff;

    padding:70px 0 30px;
    margin-top:120px;
}

.footer-inner{
    width:100%;
    max-width:1200px;

    margin:0 auto;
    padding:0 20px;

    text-align:center;
}

.footer-logo{
    margin-bottom:40px;
}

.footer-logo img{
    width:180px;
}

.footer-nav{
    margin-bottom:40px;
}

.footer-nav ul{
    display:flex;
    justify-content:center;
    gap:70px;
    flex-wrap:wrap;
}

.footer-nav a{
    color:#0ABAB5;
    font-size:14px;
    text-decoration:none;
    transition:.3s;
}

.footer-nav a:hover{
    opacity:.6;
}

.footer-copy{
    color:#4C4B4B;
    font-size:13px;
    padding-top:30px;
    border-top:1px solid #ddd;
}

/* SP */

@media screen and (max-width:768px){

.footer-nav ul{
    flex-direction:column;
    gap:20px;
}

.footer-logo img{
    width:140px;
}

}